{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>セイノーメンテック</title>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <header>
        <h1 class="text_center">自家発電設備は<span class="red">必要なときに</span>稼働しますか？</h1>
        <div>
            <img src="{% static "seinoshoukai1.png" %}">
        </div>
        <div>
            <p>
                <h2>主な提供サービスはこちら<br></h2>
                <ol>
                    <li>非常用発電機の負荷試験</li>
                    <li>非常用発電機の整備</li>
                    <li>設置工事</li>
                </ol>
                <h2>全て全国メーカーフリーで対応いたします！</h2>
            </p>
        </div>
        <div class="text_center">
            <a href="#cta" class="btn-flat-double-border">お問合せはこちら</a>
        </div>
    </header>
    <main>

    </main>

</body>
